.layerArea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.layerArea .layerBg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(192, 191, 191, 0.5);
	background-image:
		url("https://www.thehandsome.com/_ui/desktop/common/images/common/dim_bg.png");
	z-index: 101;
}

.popwrap.w_type_5 {
	width: 835px;
	left: 50%;
	margin-left: -447px;
}

.popwrap {
	position: relative;
	padding: 30px;
	background: #fff;
	margin: auto;
	z-index: 999;
}

.popwrap .pop_tltwrap2 {
	padding-bottom: 20px;
}

.popwrap .pop_tltwrap2 h3 {
	font-size: 18px;
	color: #363636;
}

.popwrap .pop_cnt {
	position: relative;
}

a:link, a:active, a:visited, a {
	text-decoration: none;
}

img, fieldset {
	border: 0;
}

legend {
	position: absolute;
	left: -5000px;
	font-size: 0;
}

.tblwrap {
	position: relative;
}

.tbl_wtype1 {
	border-top: 1px solid #666;
	color: #222;
	font-size: 12px;
	clear: both;
}

.btn_close {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
	width: 9px;
	height: 9px;
	display: block;
	background: url("/_ui/desktop/common/images/common/btn_close.png")
		center center no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	text-indent: -100px;
}

caption {
	position: relative;
	left: -5000px;
	height: 0;
	line-height: 0;
	text-indent: -5000px;
}

.tbl_wtype1 th {
	padding: 7px 0 7px 15px;
	line-height: 30px;
	background: #f5f5f5;
	border-bottom: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: top;
}

.tbl_wtype1 th .reqd {
	float: left;
	padding: 5px 5px 0 0;
	height: 15px;
	display: block;
	padding: 3px 5px 0 0 \9;
}

.reqd {
	color: #9bce26;
	font-size: 18px;
}

.tbl_wtype1 th label {
	display: inline-block;
	line-height: 30px;
}

label, input, select, textarea {
	vertical-align: middle;
	/* -webkit-appearance: none; */
}

.guide_comment {
	display: inline-block;
	color: #4a4b47;
	line-height: 30px;
	margin-left: 8px;
}

.tbl_wtype1 td {
	padding: 7px 10px;
	height: 30px;
	line-height: 30px;
	color: #444;
	border-bottom: 1px solid #dfdfdf;
}

.popwrap .pop_cnt .btnwrap {
	margin-top: 30px;
}

.btn.wt_s {
	padding: 7px 15px 9px;
	min-width: 90px;
	border: none;
	background: #888;
	color: white;
	border-radius: 5px;
	line-height: 12px;
}

.btn.gray_s {
	padding: 7px 15px 9px;
	min-width: 90px;
	background: #9bce26;
	border-radius: 5px;
	color: #fff;
	line-height: 12px;
	border: none;
}

.btnwrap {
	margin-top: 40px;
	text-align: center;
}

.tblwrap td input {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.btnwrap input {
	cursor: pointer;
}

.bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal {
	position: fixed;
	top: 0; 
	left : 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
}
.modalBox {
	position: absolute;
	background-color: #fff;
	width: 1000px;
	height: 280px;
	padding: 15px;
}