a, address, blockquote, body, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, label, li, ol, p, pre, select, span, strong, textarea, ul {
  margin: 0;
  padding: 0;
  border: 0;
}
#Container, #Footer, #Header, #Wrapper {
  width: 100%;
  min-width: 1020px;
}
#Container {
  overflow: hidden;
}
#Container.bgf6 {
  background-color: #f6f6f6;
}
#Contents {
  width: 1020px;
  height: 100%;
  margin: 0 auto;
}

.loginArea.new.login {
  padding: 92px 0 145px;
}
.loginArea.new {
  width: 850px;
  padding-bottom: 51px;
  margin: 40px auto;
  border-top: 0;
  background-color: #fff;
}
.loginArea.new .loginTit {
  width: 510px;
  margin: 0 auto;
  padding-top: 44px;
  text-align: center;
}
.loginArea .loginTit h2 {
  font-size: 30px;
  line-height: 40px;
  color: #000;
}
.loginArea.new .loginTit {
  width: 510px;
  margin: 0 auto;
  padding-top: 44px;
  text-align: center;
}
.loginArea.new .loginTit p {
  margin-top: 6px;
  font-size: 18px;
  line-height: 20px;
  color: #888;
}
input:disabled, input:read-only, select:disabled {
  background-color: #f8f8f8;
  color: #888;
}
input {
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;
  border: 1px solid #d0d0d0;
  color: #888;
  background: 0 0;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  letter-spacing: .5px;
  vertical-align: top;
}
.loginArea.new .loginForm {
  width: 510px;
  margin: 0 auto;
}
.loginArea.new .loginForm>ul {
  margin-top: 18px;
}
.loginArea.new .loginForm>ul>li {
  overflow: hidden;
  margin-top: 0;
}
.loginArea.new .loginForm>ul>li:first-child input {
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.loginArea.new .loginForm>ul>li input {
  padding: 0 20px;
  width: 510px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 0 0 5px 5px;
}
.loginArea.new .loginForm>ul>li input {
  padding: 0 20px;
  width: 510px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 0 0 5px 5px;
}
.loginArea .loginForm .linkChk {
  overflow: hidden;
  margin-top: 20px;
}
.loginArea .loginForm .linkChk .save {
  float: left;
  width: 200px;
  height: 20px;
}
input[type=checkbox]:checked:disabled, input[type=checkbox]:checked:read-only {
  background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/icon_chk_radio.png") 0 -20px no-repeat;
}
input[type=checkbox]:disabled, input[type=checkbox]:read-only {
  background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/icon_chk_radio.png") -20px -20px no-repeat;
}
input[type=checkbox]:checked {
  background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/icon_chk_radio.png") -20px 0 no-repeat;
}
input[type=checkbox] {
  background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/icon_chk_radio.png") no-repeat;
}
input[type=checkbox], input[type=radio] {
  width: 20px;
  height: 20px;
  border: 0!important;
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
input:disabled, input:read-only, select:disabled {
  background-color: #f8f8f8;
  color: #888;
}
input[type=checkbox]:checked+label, input[type=radio]:checked+label {
  color: #333;
}
button, input.button, input.image, input.submit, label {
  cursor: pointer;
}
input:disabled, input:read-only, select:disabled {
  background-color: #f8f8f8;
  color: #888;
}
.loginArea .loginForm .linkChk .link {
  float: right;
  width: 200px;
  text-align: right;
}
.loginArea .loginForm .linkChk .link a {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/bar_1x14.png") 0 50% no-repeat;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  vertical-align: top;
}
.loginArea .loginForm .linkChk .link a {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/bar_1x14.png") 0 50% no-repeat;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  vertical-align: top;
}
.loginArea .loginForm .btnArea {
  margin-top: 20px;
  display: flex;
}
.loginArea.new .loginForm .btnArea {
  height: 60px;
  border-radius: 0;
  font-weight: 400;
}
button {
  text-align: center;
  color: #fff;
}
.loginArea .loginForm {
  font-size: 24px;
  border-radius: 10px;
}
.loginArea .loginForm .linkChk .link a:first-child {
  background: 0 0;
  margin: 0;
  padding: 0;
}
.loginArea.new .loginForm .btnArea {
  height: 60px;
  font-weight: 400;
  border-radius: 5px;
  margin-left: 10px;
}
button {
  text-align: center;
  color: #fff;
}
button, input[type=submit] {
  border: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}
.loginArea.new .loginForm .btnArea {
  height: 60px;
  border-radius: 0;
  font-weight: 400;
  margin-top: 50px;
}
a {
  color: #666;
  text-decoration: none;
  width: 300px;
}
.loginArea.new .loginForm>ul>li input {
  padding: 0 20px;
  width: 510px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 0 0 5px 5px;
}
.loginArea.new .loginForm>ul>li:first-child input {
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.loginArea.new .loginForm>ul>li {
  overflow: hidden;
  margin-top: 0;
}
.loginArea.new .loginForm {
  width: 300px;
  margin: 0 auto;
}
.loginArea.new .loginForm>ul {
  margin-top: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wt {
  background: #888;
  font-size: 14px;
  color: white;
  padding: 11px 0 9px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-right: 10px;
}
.btnGreen{
  font-size: 14px;
  color: white;
  padding: 11px 0 9px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 5px;
  width:100%;
  height: 50px;
  background-color: #9bce26;
}
.buttonBox{
  width: 400px;
  height: 200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.btnArea{
  display: flex;
  width: 300px;
}
.box h3 {
  display: block;
  text-align: center;
  padding-top: 40px;
}
.box{
  width: 800px;
  background-color: #f1f1f1;
  margin: 0 auto;

}