<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.hyundai.mapper.OrderMapper">

	<resultMap type="com.hyundai.vo.ShowOrderDTO"
		id="showOrderMap">
		<id property="orderId" column="orderId" />
		<result property="orderId" column="orderId" />
		<result property="orderDate" column="orderDate" />
		<collection property="list" resultMap="orderProductMap"></collection>
	</resultMap>

	<resultMap type="com.hyundai.vo.OrderProductDTO" id="orderProductMap">
		<result property="id" column="prodId" />
		<result property="name" column="prodName" />
		<result property="thumb" column="thumb" />
		
		<result property="oid" column="oid" />
		<result property="optionName" column="optionName" />
		<result property="originPrice" column="originPrice" />
		<result property="marketPrice" column="marketPrice" />
		
		<result property="qty" column="qty" />
		<result property="brandName" column="brandName" />
		<result property="bId" column="bId" />
	</resultMap>

	<insert id="insertOrder">
		<selectKey keyProperty="order.orderId" order="BEFORE" resultType="String">
			select sysdate from dual
		</selectKey>
		insert into orders 
			(ORDER_ID, RECEIVER_NAME, 
			RECEIVER_ADDRESS_ROAD, RECEIVER_ADDRESS_JIBUN, RECEIVER_TEL,
			PAYMENT, ORDER_DATE, TOTAL_PRICE, USER_ID) 
		values
			(#{order.orderId},#{order.receiverName},
			#{order.receiverAddrRoad}, #{order.receiverAddrJibun}, #{order.receiverTel},
			#{order.payment}, sysdate, #{order.totalPrice}, #{userId})
	</insert>
	
	<insert id="insertOrderList">
		insert into order_list
			(OPTION_ID, PRODUCT_ID, ORDER_ID,
			ORDER_LIST_QTY, ORDERED_PRICE, USER_ID)
		values 
			(#{orderList.oid}, #{orderList.pid}, #{orderId},
			#{orderList.qty}, #{orderList.marketPrice}, #{userId})
	</insert>
	
	<select id="getOrderListByUserId" resultMap="showOrderMap">
	<![CDATA[
		select 
			o.orderId orderId,
			o.orderDate orderDate,
			p.product_id prodId,
			p.product_name prodName,
			p.product_thumb thumb,
			po.option_id oid,
			po.option_name optionName,
			ol.ordered_price marketPrice,
			ol.order_list_qty qty,
			b.brand_id bId,
			b.brand_name brandName
		from (
            select 
            /*+ INDEX(idx_order_date)  */
                rownum rn,
                o.order_id orderId, 
                o.order_date orderDate
            from orders o
            where o.user_id = #{userId}
            	and o.order_date between add_months(sysdate,#{cri.type}) and sysdate
                and rownum<= #{cri.pageNum} * #{cri.amount}
        ) o
		inner join order_list ol
		    on (o.orderId = ol.order_id)
		inner join options po
		    on (po.option_id = ol.option_id)
		inner join product p
		    on (po.product_id = p.product_id)
		inner join brand b
		    on (p.brand_id = b.brand_id)
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
    ]]>
	</select>
	
	<select id="getOrderListCount" resultType="int">
		select count(*)
		from orders o
		where o.user_id = #{userId}
	</select>
</mapper>