<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.hyundai.mapper.SaleMapper">

	<select id="getSaleList"
		resultType="com.hyundai.vo.ProductOptionDTO">
	<![CDATA[
		SELECT pId, name, thumb, pDate, oId, stock, originPrice, marketPrice
		FROM (
		SELECT /*+ index_desc(p product_date_idx)*/ rownum rn,
			    p.product_id pId, 
			    p.product_name name, 
			    p.product_thumb thumb, 
			    p.product_date pDate,
			    o.option_id oId, 
			    o.option_stock stock, 
			    o.option_origin_price originPrice, 
			    o.option_market_price marketPrice
		FROM product p
		JOIN options o
		ON p.product_id = o.product_id
		WHERE o.option_origin_price <> o.option_market_price AND
		ROWNUM <= 50
		)
		WHERE rn >= 1
	]]>
	</select>
</mapper>