<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.hyundai.mapper.TagMapper">

	<select id="isExist" resultType="boolean">
		select count(*)
		from tag
		where user_id = #{userId}
		and keyword = #{keyword}
	</select>

	<insert id="insertTag">
		insert into tag (USER_ID, keyword,
		tag_date)
		values (#{userId},#{keyword}, sysdate)
	</insert>

	<delete id="removeTag">
		delete from tag
		where user_id = #{userId}
		and
		keyword = #{keyword}
	</delete>
	
	<select id="getTagList" resultType="String" >
		select keyword
		from tag
		where user_id = #{userId}
		order by tag_date
	</select>
</mapper>