<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	찜(wish_list) 테이블 관련 작업을 하는 Mapper
	@author 왕종휘
 -->
<mapper namespace="com.hyundai.mapper.WishListMapper">

<!-- 
	유저의 찜 목록 가져오기
	@param 페이징 객체(cri), 유저아이디(userId)
 -->
	<select id="getWishLists" resultType="com.hyundai.vo.ProductOptionDTO">
	<![CDATA[
		select id, name, thumb, pDate, oId, stock, originPrice, marketPrice, '1' wished, bId, brandName, wDate
		from (
			select 
			/*+ INDEX (wish_list idx_wdate) */
			    rownum rn,
			    p.product_id id, 
			    p.product_name name, 
			    p.product_thumb thumb, 
			    p.product_date pDate,
			    o.option_id oId, 
			    o.option_stock stock, 
			    o.option_origin_price originPrice, 
			    o.option_market_price marketPrice,
			    b.brand_id bId,
			    b.brand_name brandName,
			    w.wish_date wDate
			from product p
			inner join options o on (p.product_id = o.product_id and 
			            o.option_id = concat(p.product_id,'001') )
			inner join wish_list w on (w.product_id = p.product_id and w.user_id = #{userId})
			inner join brand b on (p.brand_id = b.brand_id)
			
			order by wish_date desc, p.product_id
		)
		 OFFSET (#{cri.pageNum}-1)*#{cri.amount} ROWS FETCH NEXT #{cri.amount} rows only
		]]>
	</select>
	
<!-- 
	유저의 찜 개수 가져오기
	@param 유저아이디(userId)
 -->
	<select id="getCount" resultType="int">
		select count(*) 
		from wish_list 
		where user_id = #{userId}
	</select>

<!-- 
	특정 상품에 대한 찜 상태 확인
	@param 유저아이디(userId), 상품아이디(prodId)
 -->
	<select id="isExist" resultType="boolean">
		select count(*)
		from wish_list
		where user_id = #{userId}
		and product_id = #{prodId}
	</select>

<!-- 
	특정 상품에 대한 찜 삽입
	@param 유저아이디(userId), 상품아이디(prodId)
 -->
	<insert id="insertWishList">
		insert into wish_list (USER_ID, PRODUCT_ID,
		WISH_DATE)
		values (#{userId},#{prodId}, sysdate)
	</insert>

<!-- 
	특정 상품에 대한 찜 삭제
	@param 유저아이디(userId), 상품아이디(prodId)
 -->
	<delete id="removeWishList">
		delete from wish_list
		where user_id = #{userId}
		and
		product_id = #{prodId}
	</delete>

</mapper>